.Weather {
  font-family: arial, sans-serif;
  padding: 16px;
  border: 1px solid #dde6ed;
  border-radius: 6px;
  color: rgb(135, 135, 135);
  background-color: #ffffff;
}

.Weather .btn {
  background-color: #27374d;
  border: #27374d;
}

.Weather h1 {
  font-size: 30px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 10px 0;
  color: #27374d;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
}

.Weather .temperature {
  color: #27374d;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: #27374d;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
